{% extends 'components/base.html' %}

{% block content %}
    {% include 'components/dashboard-nav.html' %}

    <main class="mt-5 pt-4">
        <div class="container-fluid">
            <div class="row mb-2 mt-2">
                <div class="col-md-4 mb-2">
                    <div class="card bg-dark text-white h-100">
                        <div class="card-body">
                            <marquee style="color: lime">
                                "And once you understand that habits can change, you have the freedom and the responsibility to remake them." -Charles Duhigg
                            </marquee>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mb-2">
                    <a class="weatherwidget-io"
                        href="https://forecast7.com/en/53d35n6d26/dublin/"
                        target=”_blank”
                        data-label_1="DUBLIN" data-label_2="WEATHER"
                        data-icons="Climacons Animated" data-days="3"
                        data-theme="dark" data-basecolor="#212529"
                        data-accent="rgba(255, 255, 255, 0.07)"
                        style="border-radius: 7px">
                        DUBLIN WEATHER
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="card bg-dark text-white">
                        <div class="card-header d-flex justify-content-between align-items-center fw-bold fs-4"
                            style="border-bottom: solid 0.5px white">
                            <h4 class="mb-0">{% now 'l' %}<span class="text-muted font-italic">{% now 'M/d' %}</span></h4>
                            <h4 class="mb-0">Week {{ week }}</h4>
                            <button data-hx-get="{% url 'create-habit' %}"
                                data-hx-target="#dialog" type="button"
                                name="addHabit"
                                class="btn btn-outline-success btn-sm">
                                <i class="bi bi-plus-lg fs-5"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="card table-responsive" id="no-more-tables">
                                <table class="table table-dark table-borderless" id="habit-table">
                                    <thead>
                                        <tr class="align-items-center">
                                            <th class="text-center">Habit</th>
                                            <th>Type</th>
                                            {% for week_date in week_dates %}
                                                <th>
                                                    {{ week_date.day_of_week }}
                                                    <span class="text-muted font-italic">
                                                        {{ week_date.date|date:"M/d" }}
                                                    </span>
                                                </th>
                                            {% endfor %}
                                            <th>Progress</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody
                                        data-hx-trigger="load, HabitListChanged from:body"
                                        data-hx-get="{% url 'habits-list' %}"
                                        data-hx-target="this"
                                    >
                                        <tr>
                                            <td class="spinner-border" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
