<header>
    <!--top navigation bar-->
    <nav class="navbar navbar-expand bg-dark fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="nav-link d-lg-none text-white" data-bs-toggle="offcanvas" href="#offcanvasExample"
                role="button" aria-controls="offcanvasExample">
                <span class="me-2"><i class="bi bi-list fs-3"></i></span>
            </a>

            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="{% url 'home' %}">
                <span><i class="bi bi-train-front-fill"></i></span>
                <span> HabiTrain</span>
            </a>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" 
                       data-hx-get="{% url 'create-habit' %}"
                       data-hx-target="#dialog" 
                       role="button"
                    >
                        <i class="bi bi-plus-square fs-4"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--top navigation bar-->

<!--offcanvas-->
<nav>
    <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-body p-0 d-flex justify-content-center">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <div class="d-flex flex-column align-items-center mt-3">
                        <div>
                            {% if user.profile.profile_image %}
                                <img class="rounded-circle" src="{{ user.profile.profile_image.url }}"
                                alt="profile-image" style="width: 80px; height: 80px;">
                            {% else %}
                                <img class="rounded-circle" src="https://res.cloudinary.com/dwpxwxwyo/image/upload/v1689351285/static/images/avatar.afc5c05cbbe9.jpg" 
                                alt="Default Image" style="width: 80px; height: 80px;">
                            {% endif %}
                        </div>
                        <span>@{{ user.username }}</span>
                    </div>
                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <a href="{% url 'dashboard' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'view-habits' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-check2-square"></i></span>
                            <span>View Habits</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'statistics' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-graph-up"></i></span>
                            <span>Statistics</span>
                        </a>
                    </li>
                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <a href="{% url 'user-profile' %}" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-person-square"></i></span>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-3" type="button" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            <span class="me-2"><i class="bi bi-door-closed"></i></span>
                            <span>LogOut</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--offcanvas-->
</nav>
